* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.hide{
    display:none;
}

.main a{
    color: rgb(102, 177, 238);
    padding:3.5%;
    display: inline-block;
}

.main li{
    border-bottom: 1px solid #9c9ca0;
}

.main {
    padding:0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 100%;
}
 .top-child { 
}

.top-elements {
    width: 100%;
    padding: .5em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9c9ca0;
}
svg {
    margin-left: .5em;
}
.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;

}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

.courses-nav , .how-it-works-nav {
    background-color:rgb(196, 230, 250);
    width:100%;
}

ul {
    padding: 0;
}

.courses-nav ul, .how-it-works-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.courses-nav li, .how-it-works-nav li{
    padding: .5em;
    text-transform: none;
    border: none;
    display: flex;
    flex-direction: column;
}

.courses-nav a, .how-it-works-nav a{
    color: black;
}
/* a {
    padding: 1em, 0, 0;
} */

img {
    display: none;
}

.hidden {
    display: none;
}
/* Add your CSS here */

